body {
    /* background: #162719; */
    background: green;
    color: #F2E8CF;
}

.home-container {
    display: grid;
    grid-template-columns: 1fr 3fr 1fr;
}
a {
    text-decoration: none;
    color: #F2E8CF;
}

.room-container{
    display: grid;
    grid-template-columns: 3fr 1fr;
}